.App {
  text-align: center;
}
.panel-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
}

.panel-unit {
  border: 1px solid black;
  min-width: 150px;
  padding: 10px;
}

.panel-report p {

}

.panel-italics {
  font-size: 12px;
  font-style: italic;
}
.panel-italics-tight {
  font-size: 12px;
  font-style: italic;
  line-height: 5px;
}

.FourteenDaysTable {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.FourteenDaysTable, th, td {
  border: 1px solid black;
}
