.App {
  text-align: center;
}
.panel-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid blue;
}


.panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.panel-report p {

}

.panel-italics {
  font-size: 12px;
  font-style: italic;
}

.FourteenDaysTable {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.FourteenDaysTable, th, td {
  border: 1px solid black;
}
